#toggleSidebarButtonContainer {
  button {
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 1;
    }

    &:hover::before {
      background-color: white;
      opacity: 0.1;
    }

    &::before {
      content: "";
      height: 200%;
      position: absolute;
      top: -50%;
      left: -25%;
      width: 150%;
      cursor: pointer;
      border-radius: 6px;
    }
  }
}

.previewPaneHidden {
  display: none;
}
